{{#extend "layout"}}
  {{#content "header-top-left-button"}}
    <a class="mdl-button mdl-button--icon" href="/">
      <i class="material-icons">arrow_back</i>
    </a>
  {{/content}}
  {{#content "header-title"}}
    <span class="mdl-layout-title">Talk</span>
  {{/content}}
  {{#content "header-links"}}
    <div class="mdl-layout-spacer"></div>
    <a href="twitter://post?message=Estoy viendo la charla de {{twitterHandles}} en el @phpdayuy." class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </a>
  {{/content}}
  {{#content "main"}}
    <div class='single-talk mdl-card talk-card-wide'>
      <div class="mdl-card__title" style="background: url('{{imageUrl}}') center / cover;">
        <h2 class="mdl-card__title-text">
          {{name}}
        </h2>
      </div>
      <div class="mdl-card__supporting-text">
        {{description}}
      </div>
      <div class="mdl-card__menu">
        {{#each people}}
          <a class="mdl-button mdl-button--icon" href="twitter://user?screen_name={{twitter}}" style="background: url('{{imageUrl}}') center / cover">
          </a>
        {{/each}}
        <button class="mdl-button" disabled>
          {{date}}
        </button>
      </div>
    </div>
  {{/content}}
{{/extend}}
